body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.heading {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Barlow Condensed', sans-serif;
    color: #F8C000ff;
    font-size: 40px;
    font-weight: bold;
}

.formwidth {
  width: 500px;
}

.formFont {
  font-family: 'Montserrat', sans-serif;
}


.picOneAbout {
  left: 30vh;
  transform: rotate(-.02turn);
}

.picTwoAbout {
  left: 5vh;
  top: 30vh;
}





.contactFormHeading {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Barlow Condensed', sans-serif;
  color: #DE3163;
  font-size: 40px;
  font-weight: bold;
}

.servicesImage {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  zoom: 25%;
}

.aboutPageImage {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  zoom: 25%;
  opacity: 0.9;
}

.servicesImageDiv {
  height: 350px;
}

.aboutImageDiv {
  height: 350px;
  position: relative;
}

.aboutHomeHeading {
  color: #FFA701ff;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Barlow Condensed', sans-serif;
}

.centeredAbout {
    position: absolute;
    z-index: 2;
    top:40%;
    left: 15%;
    color: white;
    font-weight: bold;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
}

.aboutHomeImage {
  width: auto;
  height: 475px;
}

.contactMeImage {
  width: auto;
  height: 600px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #343231
}

.contactInfoParagraph {
  font-size: 15px;
}

.servicesButton {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #F8C000ff;
  font-weight: bold;
  font-size: 30px;
  color: white;
  border: 3px solid #BE6B9Dff;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.4);
}

.aboutButton {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #FFA701ff;
  font-weight: bold;
  font-size: 30px;
  color: white;
  border: 3px solid #BE6B9Dff;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.4);
}

.servicesButton:hover {
  background-color: white;
  font-weight: bold;
  font-size: 30px;
  color: #BE6B9Dff;
  border: 3px solid #FFA701ff;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.4);
}

.homePageText {
  /* margin-left: 20px;
  margin-right: 20px; */
  max-width: 80%;
  overflow-wrap: break-word;
}

.photoCollage {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.aboutButton:hover {
  background-color: white;
  font-weight: bold;
  font-size: 30px;
  color: #BE6B9Dff;
  border: 3px solid #F8C000ff;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.4);
}


.logo{
    font-family: 'Shrikhand', cursive;
    color: #DE3163 !important;
}


.logoPicture {
    width: 100px;
    height: 100px;
}

.navBar {
    border-radius: 5px 15px 200px 15px/15px 225px 15px 255px;
    border-bottom:solid 2px rgb(222, 49, 99, .8);
    background-color: white;
}

.NavBarLink {
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
    color: #DE3163;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;

}



.welcomeImage {
    max-width: 100%;
    max-height: 80%;
}

.center {
    position: absolute;
    top: 30%;
    left: 5%;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    color: #f5f5f5;
    background-color: #DE3163;
    padding: 10px;
    border-radius: 5px;
  }

  .offCenter {
    position: absolute;
    top: 48%;
    left: 7%;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    color: #f5f5f5;
    background-color: #DE3163;
    padding: 10px;
    border-radius: 5px;
  }

  /* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
    .center, .offCenter {
      font-size: 48px;
    }
  }
  /* If the screen size is smaller than 1200px, set the font-size to 80px */
  @media (max-width: 1199.98px) {
    .center, .offCenter {
      font-size: 20px;
    }
  }

    /* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
    .center {
        top: 30%;
        left: 5%;
    }
  }
  /* If the screen size is smaller than 1200px, set the font-size to 80px */
  @media (max-width: 1199.98px) {
    .center {
        top: 20%;
        left: 5%;
    }
  }

  @media (min-width: 1200px) {
    .offCenter {
        top: 48%;
        left: 7%;
    }
  }
  /* If the screen size is smaller than 1200px, set the font-size to 80px */
  @media (max-width: 1199.98px) {
    .offCenter {
        top: 30%;
        left: 7%;
    }
  }

